
@{
    ViewBag.Title = "Add Place";
}

<h2 class="text-center">@ViewBag.Name</h2>
<hr />

<partial name="_PlaceFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
